$media-phone-height: 400px;

chart-bar {
  flex: 1;
  display: flex;
  flex-direction: column;

  .chart-controls {
    display: flex;
    margin: 5px 0;

    .slider-container {
      display: flex;
      align-self: center;
      flex: 1;
      margin-left: 8px;

      .slider {
        flex: 1;
      }
    }

    .sort-control {
      margin-left: 30px;
    }
  }

  .chart-container {
    flex: 1;
    margin-top: 50px;
    overflow-x: auto;
    overflow-y: hidden;

    background:
      /* Shadow covers */
      linear-gradient(90deg, white 30%, rgba(255,255,255,0)),
      linear-gradient(90deg, rgba(255,255,255,0), white 70%) 100% 0,

      /* Shadows */
      radial-gradient(0 50%, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
      radial-gradient(100% 50%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 100% 0;
    background:
      /* Shadow covers */
      linear-gradient(90deg, white 30%, rgba(255,255,255,0)),
      linear-gradient(90deg, rgba(255,255,255,0), white 70%) 100% 0,

      /* Shadows */
      radial-gradient(farthest-side at 0 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
      radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 100% 0;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    background-attachment: local, local, scroll, scroll;

    @media (max-height: $media-phone-height) {
      margin-top: 10px;
    }

    .chart text {
      fill: black;
      font: 10px sans-serif;
    }

    .axis {
      text {
        font: 10px sans-serif;
      }

      path,
      line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
    }

    .x.axis path {
      display: none;
    }
  }
}
